.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.mat-mdc-card-content {
    padding: 28px;
    width: 400px;
}

.mat-mdc-card-title {
    font-size: 35px;
}

.form-custom {
    min-width: 150px;
    width: 100%;
}

.input-custom {
    width: 100%;
}